footer.footer
//- coder site (верстальщик) ShilovYaroslavAndreevich workyarik@gmail.com

// 
	[if lt IE 9]>
	<script src="js/html5shiv/es5-shim.min.js"></script>
	<script src="js/html5shiv/html5shiv.min.js"></script>
	<script src="js/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="js/respond/respond.min.js"></script>
	<![endif]
script(src="js/libs.min.js")
script(src="js/main.js")