$out: 1px solid red !important;
$time: 0.5s ease-in-out;

$bg: #000000;
$title: #000000;
$cont: #000000;
$desc: #000000;
$subtext: #000000;
$link: #000000;

$Arial: Arial, sans-serif;

.visible-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.hide {
	display: none;
}

.scroll-hide {
	overflow: hidden !important;
	//height: 100vh !important;
	position: relative !important;
}

/*BEGIN .landing */
.landing {
  &-section {
	  padding: 80px 0;
  }
	
	&-title {
		padding: 0 0 40px;
		
		font-size: 60px;
	}
}
/*END .landing */

.container {
	max-width: 1980px;
	padding: 0 40px;
}


/*BEGIN .global-btn*/
.global-btn {
	
}
/*END.global-btn*/


/*BEGIN .global-link*/
.global-link {
	
}
/*END.global-link*/
