
- var title = "Yaroslav Shilov"

- var email = "mailto: workyarik@gmail.com"

- var number = "+7(928) 4217207"

- var numlink = "tel: +79284217207"

- var address = "г.Краснодар ул.Пушкина"

- var time = "Пн.-Вс.: 09:00 - 21:00"

- var description = "Front-end master"

- var vk = '#'
- var inst = '#'
- var fb = '#'
- var ok = '#'
- var yt = '#'

//- вызов a(href=title) или a(href=`https://${title}`) или a(href='https://'+title)
//- вызов в тексте a(href=numlink) #{number}