/*coder site (верстальщик)
ShilovYaroslavAndreevich
shilovyaroslavandreevich@gmail.com*/
body {
	margin: 0;
}
.page-preloader {
	background-color: #330044;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#preloader {
	width: 75px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


