//BEGIN над футером
.uni-mess
	.uni-mess_items
//END над футером

form
	.uni-mess_act
		div
			span
				+icon('check', 'header_icon', '__red')
		p Сообщение отправлено
	.uni-mess_def
		h3.contact_form-title Написать Сообщение

		input(name="form", type="hidden", value="1")
		input(name="title", type="hidden", value="Заголовок")

		input(name="name", type="text" placeholder="Ваше имя" required="")
		input(name="email", type="text" placeholder="Ваш e-mail" required="")
		input.phone(name="number", type="text" placeholder="Ваш e-mail" required="")
		//textarea(name="text", cols="30", rows="2", placeholder="Ваше сообщение")
		div.textarea(name="text", contenteditable="true", data-placeholder="Напишите свой отзыв..")
		button.global-butt Отправить сообщение