body {
	color: #424242;
	background-color: #e9e9e9;
}

h1 {
	font-size: 2rem;
}

p {
	font-size: 1em;
}

p a {
	font-size: 1rem;
}

/*
vw - 1% ширины окна
vh - 1% высоты окна
vmin - наименьшее из (vw, vh), в IE9 обозначается vm
vmax - наибольшее из (vw, vh)


em – задаёт размер относительно шрифта родителя, можно относительно конкретных символов: "x"(ex) и "0"(ch), используется там, где нужно упростить масштабирование компоненты.
rem – задаёт размер относительно шрифта <html>, используется для удобства глобального масштабирования: элементы которые планируется масштабировать, задаются в rem, а JS меняет шрифт у <html>.
% – относительно такого же свойства родителя (как правило, но не всегда), используется для ширин, высот и так далее, без него никуда, но надо знать, относительно чего он считает проценты.
vw, vh, vmin, vmax – относительно размера экрана.
*/

h2 {
	text-align: center;
	font-size: 10vw;
}