include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
include ../common/head
body
	// BEGIN loader
	.loader
		.loader_inner
	// END loader
	
	// BEGIN content
		
	// END content

	include ../common/footer
// END body