extends ../temp/home
block content
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eveniet quis sequi neque ab obcaecati quam optio culpa nemo maxime aperiam natus officiis voluptates voluptatum velit, totam corrupti nesciunt modi.
	+icon('facebook', 'header_icon', '__red')