body {
	padding: 50px;
	font-family: Arial;
	font-size: 50px;
}

.checkbox {
	cursor: pointer;
}
input {
	display: none;
}
input:checked + .box{
	background-color: green;
}
input:checked + .box:after {
	left: 49px;
}
.box {
	display: block;
	float: left;
	width: 100px;
	height: 50px;
	background-color: red;
	border-radius: 50px;
	margin-right: 20px;
	transition: background-color 0.2s;
	position: relative;
	box-shadow: inset 0 0 10px 2px rgba(0,0,0, 0.3);
}
.box:after {
	content: "";
	position: absolute;
	width: 50px;
	height: 96%;
	background-color: #fff;
	border-radius: 50%;
	left: 1px;
	top: 2%;
	transition: left 0.2s;
	box-shadow: inset 5px -5px  10px 5px rgba(0,0,0, 0.2),
							0 0 1px 1px rgba(0,0,0, 0.3);
}