doctypehtml
html(lang='ru')
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="css/main.css")
	title(Development)
body 
	// BEGIN content
	.content
		.button
				span restart
		.game
			
			.block.block1
			.block.block2
			.block.block3
			.block.block4
			.block.block5
			.block.block6
			.block.block7
			.block.block8
			.block.block9
		
	// END content
	script(src="js/jquery-1.12.4.min.js")
	script(src="js/main.js")
// END body