extends ../temp/home
block content

	//BEGIN title
	.title(data-anch_s="title", style="background-image:url('img/title/bg.jpg')")
		section.wrap
			h2 Lorem ipsum dolor
		
			.title_main
				h3.title_titl Испытай будущее прямо сейчас!
				p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
				.title_links
					a.gb-butt.gbpop(href="#") Записаться на игру
					a.gb-butt.__grey(href="#") Смотреть видео
					
			.title_main
				h3.title_titl Испытай будущее прямо сейчас!
				p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
				.title_links
					a.gb-butt.gbpop(href="#") Записаться на игру
					a.gb-butt.__grey(href="#") Смотреть видео
	//END title
				
	//BEGIN work
	.work(data-anch_s="title", style="background-image:url('img/title/bg.jpg')")
		.wrap
			section.work_main
				header
					h2.work_titl Испытай будущее прямо сейчас!
				p VR Pass — клуб виртуальной реальности в Москве. Мы поможем погрузиться в виртуальный мир и получить незабываемые ощущения!
				footer.work_links
					a.gb-butt.gbpop(href="#") Записаться на игру
					a.gb-butt.__grey(href="#") Смотреть видео
	//END work
		
	+icon('check', 'header_icon', '__red')