extends ../temp/home
block content
	container
		row
			columns(large="4")
				p.text-center Put content in me!
			columns(large="4")
				p.text-center Put content in me!
			columns(large="4")
				p.text-center Put content in me!
