head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	meta(name="keywords" content="Теги сайта")
	meta(name="description" content="Описание сайта")
	meta(name="author" lang="ru" content="Yaroslav Shilov")

	link(rel="shortcut icon" href="img/favicon.png")
	link(rel="stylesheet" href="css/main.css")

	title Document